.header {
  padding: 50px 0;
  width: 100vw;
  position: relative;
  z-index: 10000;

  @media (max-width: 767px) {
    padding-top: 20px;
  }

  .logo {
    max-width: 300px;

    @media (max-width: 767px) {
      max-width: 200px;
    }

    @media (max-width: 576px) {
      max-width: 150px;
    }

    @media (max-width: 476px) {
      max-width: 120px;
    }

    img {
      width: 100%;
    }
  }

  &__value {
    background-color: #25221A;
    border-radius: 10px;
    position: relative;
    padding: 5px 10px 5px 40px;

    @media (max-width: 476px) {
      padding-left: 5px;
      display: flex;
      align-items: center;
    }

    div {
      height: 100%;

      @media (max-width: 476px) {
        display: flex;
      }
      span {
        display: inline-block;
        font-weight: 700;
        font-size: 15px;
        line-height: 14px;
        color: #FAAF16;
        padding-right: 10px;
        border-right: 1px solid rgba(250,175,22, 0.1);
        max-height: 15px;
        margin-right: 10px;

        &:last-child {
          border-right: 0;
          margin: 0;
          padding: 0;
        }

        @media (max-width: 992px) {
          font-size: 14px;
        }


        @media (max-width: 576px) {
          font-size: 12px;
        }

        @media (max-width: 476px) {
          font-size: 10px;
          padding-right: 5px;
        }
      }
    }

    img {
      position: absolute;
      left:-30px;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: 992px) {
        width: 35px;
        height: 35px;
        left: 0;
      }

      @media (max-width: 576px) {
        width: 30px;
        height: 30px;
      }

      @media (max-width: 476px) {
        display: none;
      }
    }
  }

  //.upline {
  //  @media (max-width: 992px) {
  //    max-width: 80px;
  //    max-height: 40px;
  //    font-size: 12px;
  //  }
  //}
}
