$white: #fff;
$light-yellow: #FFFCA7;
$yellow: #FAAF16;
$brown: #322A1F;
$dark-brown: #7B6D59;
$orange: #F1A835;
$cameo: #DFC4A6;
$dark: #25221A;

.level-price {
  &__item {
    padding: 34px 24px 24px 24px;
    background: url("../../assets/img/bg/price-item-brown.svg") no-repeat;
    background-size: 100% 100%;

    @media (max-width: 1400px) {
      padding: 34px 16px 24px 16px;
    }

    @media (max-width: 1200px) {
        height: 220px;
    }

    @media (max-width: 992px) {
      height: 164px;
    }

    @media (max-width: 575px) {
      height: 230px;
    }

    @media (max-width: 420px) {
      height: 180px;
    }

    @media (max-width: 380px) {
      height: 150px;
    }

    h3 {
      font-weight: 700;
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      color: #DFC4A6;
      text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);

      @media (max-width: 992px) {
        font-size: 30px;
        line-height: 30px;}
    }

    &-price {
      background-color: #25221A;
      position: relative;
      text-align: right;
      border-radius: 20px;
      color: #FAAF16;
      padding: 5px;
      transition: all 0.2s ease-in-out;

      @media (max-width: 1200px) {
        max-width: 130px;
        padding: 10px;
        margin: auto;
      }
      @media (max-width: 992px) {
        max-width: 100px;
        padding: 5px;
        margin: auto;
      }


      span {
        transition: color 0.2s ease-in-out;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;

        @media (max-width: 992px) {
          font-size: 12px;
        }
      }

      img {
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        background-color: #322A1F;

        //span {
        //  color: $dark;
        //}

        img {
          transform: translateY(-70%);
        }
      }
    }
  }

  &.main-level {
    margin: 50px auto 100px auto;

    h1 {
      display: none;
    }

    .level-price__item {
      height: 220px;
      padding: 0 30px;
      box-sizing: inherit;

      @media (max-width: 1000px) {
        height: 169px !important;
      }
      //
      @media (max-width: 575px) {
        width: 95% !important;
        height: 245px !important;
      }

      @media (max-width: 460px) {
        height: 205px !important;
      }

      @media (max-width: 400px) {
        height: 170px !important;
      }

      @media (max-width: 350px) {
        height: 134px !important;
      }

      &-price {
        height: 37px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: auto;

        img {
          width: 64px !important;
          height: 64px !important;

          @media (max-width: 1000px) {
            width: 40px !important;
            height: 40px !important;
          }

          @media (max-width: 400px) {
            width: 30px!important;
            height: 30px!important;
            left: -10px !important;
          }
        }

        span {
          font-weight: 700;
          font-size: 20px;
          line-height: 14px;
          color: #FAAF16;

          @media (max-width: 1000px) {
            font-size: 14px;
          }

          @media (max-width: 400px) {
            font-size: 11px;
          }
        }
      }

      h3 {
        font-weight: 700;
        font-size: 50px;
        line-height: 40px;
        margin-bottom: 37px;

        @media (max-width: 1000px) {
          font-size: 30px;
          line-height: 30px;
        }

        @media (max-width: 400px) {
          font-size: 27px;
          margin-bottom: 15px;
        }
      }
    }
  }

}
