@import "bootstrap/scss/bootstrap-reboot";

@import "bootstrap/scss/bootstrap";

@import "assets/scss/variables";

@import "assets/font/fonts";

@import "assets/scss/buttons";

body {
  margin: 0;
  font-family: "Changa", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
}

span, p {
  color: $cameo;
}

.btn {
  border: none !important;
  outline: none !important;
}

.wrapper {
  max-height: 100vh;
  overflow: hidden;
  background: url('./assets/img/bg/bg.jpg');
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $orange;

  @media (max-width: 992px) {
    font-size: 30px;
    margin-bottom: 0 !important;
  }

  @media (max-width: 556px) {
    margin-bottom: 5px;
  }

  @media (max-width: 420px) {
    font-size: 25px;
  }
}

.main-section {
  height: 100vh;
  width: 100vw;
  transform: translateY(-15%);

  @media (max-width: 765px) {
    margin-bottom: -20%;
  }

  img {
    width: 100%;
    max-width: 400px;

    @media (max-width: 992px) {
      max-width: 300px;
    }

    @media (max-width: 575px) {
      max-width: 250px;
    }
  }
}

.footer-section {
  color: $white;
  padding: 100px 0;

  @media (max-width: 992px) {
    padding: 40px 0;
  }

  &__presentations {
    background: url('assets/img/bg/board-present.png') no-repeat;
    background-size: 100% 100%;
    padding: 60px 30px;
  }

  h1 {
    margin-bottom: 30px;
  }

  h4 {
    color: $cameo;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    @media (max-width: 992px) {
      font-size: 16px;
      margin-bottom: 0;
    }

    @media (max-width: 556px) {
      font-size: 12px;
    }
  }

  .last-section {
    margin-top: 100px;
  }
}

.user-section {
  .avatar {
    @media (max-width: 992px) {
      width: 110px;
      height: 110px;
    }

    @media (max-width: 767px) {
      width: 70px;
      height: 70px;
      margin-right: 10px!important;
    }

    @media (max-width: 576px) {
      width: 110px;
      height: 110px;
      margin-right: 10px!important;
    }

  }
  &__info {
    h4 {
      color: $yellow;
      font-weight: 500;
      font-size: 32px;
      line-height: 34px;
      margin-bottom: 5px;

      @media (max-width: 992px) {
        font-size: 20px;
      }

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0 !important;
      }

      @media (max-width: 576px) {
        line-height: 30px
      }
    }

    span {
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }

    .link-btn {
      @media (max-width: 767px) {
        margin-left: 5px!important;
      }

      img {
        width: 20px;
        height: 20px;
        margin-left: 0!important;
      }
    }

    .user-id {
      @media (max-width: 767px) {
        font-size: 10px!important;
        padding: 10px;
      }
    }
  }
}

.user-id {
  display: inline-block;
  background-color: $dark;
  padding: 12px 20px;
  color: $yellow;
  font-weight: 700;
  font-size: 15px;
  line-height: 14px;
  border: 2px solid #915E31;
  border-radius: 20px;
}

.text-shadow {
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.personal-board {
  background: url("./assets/img/bg/board-personal.png");
  background-size: 100% 100%;
  padding: 40px 30px;
  height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    @media (max-width: 767px) {
      font-size: 12px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  img {
    @media (max-width: 767px) {
      width: 15px;
      height: 15px;
    }
  }

  @media (max-width: 1400px) {
    padding: 30px 20px;
    height: 120px;
  }

  @media (max-width: 767px) {
    padding: 10px 20px;
    height: 80px;
    margin-right: 10px;
  }

  @media (max-width: 576px) {
    width: 95%;
    height: 100px;
    padding: 20px;
  }
}

.personal-link {
  color: $yellow;
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;

  @media (max-width: 1400px) {
    font-size: 26px;
  }

  @media (max-width: 1200px) {
    font-size: 20px;
  }

  @media (max-width: 767px) {
    font-size: 12px;
  }

  @media (max-width: 576px) {
    font-size: 25px;
  }

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

.brown-bg {
  background-color: $brown;
  height: 100%;
  width: 100vw;
  top: 100vh;
  z-index: -1000;
  position: absolute;
}

.main-page {
  .level-price__item-price {
    max-width: 170px;
    border-radius: 30px;
  }

  img {
    left: 0;
  }

  .level-price__item {
    &_current {
      background: url("./assets/img/bg/current-level.svg") no-repeat;
      background-size: 100% 100%;
    }

    &_locked {
      background: url("./assets/img/bg/price-item-stone.svg") no-repeat;
      background-size: 100% 100%;
    }
  }
}

.transaction__price {
  color: $yellow;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.created-at {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #915E31;
}

.transactions {
  margin: 100px 0;
  background: url("./assets/img/bg/board-trans.svg") no-repeat center;
  background-size: 100%;
  padding: 80px 120px 66px 60px;
  height: 600px;
  position: relative;

  @media (max-width: 1400px) {
    padding-top: 107px;
  }

  @media (max-width: 1200px) {
    padding-right: 60px;
    padding-top: 146px;
  }

  @media (max-width: 992px) {
    margin-top: 130px;
    padding: 30px 45px;
    background: url('assets/img/bg/board-present.png') no-repeat top;
    background-size: 100% 100%;
    max-height: 400px;
  }

  @media (max-width: 565px) {
    padding-left: 15px;
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);

    @media (max-width: 1400px) {
      top: 20px;
    }

    @media (max-width: 1200px) {
      top: 84px;
      width: 300px;
    }

    @media (max-width: 992px) {
      width: 400px;
      top: -40px;
    }

    @media (max-width: 767px) {
      width: 300px;
    }
  }

  &__overlay {
    overflow-x: scroll;
    @media (max-width: 1400px) {
      height: 375px !important;
    }

    @media (max-width: 1200px) {
      height: 300px !important;
    }

    @media (max-width: 992px) {
      height: 340px !important;
      overflow-x: scroll;
    }
  }

  &__item {
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;

    @media (max-width: 765px) {
      width: 600px;
      padding: 5px 0 8px 0;
    }

    img.me-3 {
      @media (max-width: 765px) {
        width: 50px;
        height: 50px;
      }
    }

    &:nth-child(3n):after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #877862;
      opacity: 0.1;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .user-id {
      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }

  &__text {
    @media (max-width: 992px) {
      font-size: 12px;
    }

    span {
      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }

  .created-at {
    @media (max-width: 992px) {
      font-size: 12px;
    }
  }
}

.os-scrollbar-handle {
  background-color: #E28205 !important;
}

.os-scrollbar-track {
  background: #362F25 !important;
}

.popup {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(36, 32, 26, 0.8);
  z-index: 100000;

  &__close {
    top: 0;
    right: 0;
    transform: translate(40%, -35%);
    padding: 0 !important;

    img {
      width: 100%;
    }

    @media (max-width: 653px) {
      width: 40px;
      height: 40px;
      transform: translate(0px, -17px);
      z-index: 100000;
    }
  }

  &__title {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);

    img {
      width: 100%;
    }

    @media (max-width: 992px) {
      max-width: 300px;
    }

    @media (max-width: 653px) {
      width: 200px;
    }
  }

  &__body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('./assets/img/bg/board-reg.png') no-repeat;
    background-size: 100% 100%;
    padding: 60px 60px 50px 60px;
    text-align: center;
    max-width: 740px;
    min-height: 530px;
    width: 100%;

    @media (max-width: 992px) {
      max-width: 560px;
    }
    @media (max-width: 653px) {
      padding: 23px 20px 20px 20px;
      max-width: 310px;
      min-height: 370px;
    }



    .popup-reg__activate {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;

      @media (max-width: 653px) {
        font-size: 13px;
      }

    }

    .input-label {
      span {
        display: inline-block;
        margin-bottom: 10px;
      }
    }

    h4 {
      color: $yellow;
      padding-top: 15px;
      padding-bottom: 20px;
      font-weight: 500;
      font-size: 32px;
      line-height: 34px;

      @media (max-width: 653px) {
        font-size: 20px;
        padding-top: 0;
        padding-bottom: 10px;
      }
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      margin: 0;

      @media (max-width: 992px) {
        font-size: 16px;
      }

      @media (max-width: 653px) {
        font-size: 13px;
        line-height: 20px;
      }
    }

    .input-label {
      text-align: left;
      margin-bottom: 30px;

      @media (max-width: 653px) {
        margin-bottom: 10px;
      }

      span {
        margin-bottom: 10px;
      }
    }

    .input {
      position: relative;

      input {
        background-color: #24201A;
        border-radius: 16px;
        border: none;
        padding: 15px;
        color: $cameo !important;
        width: 100%;
        height: 64px;
        outline: none;
        border: none;

        @media (max-width: 653px) {
          height: 44px;
        }
      }

      .status {
        right: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }


    .border-btn-small {
      background: url("./assets/img/bg/border-btn-small.png");
      background-size: 100% 100%;
      color: #FFFCA7;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      padding: 20px 30px;
      margin-top: 30px;

      @media (max-width: 653px) {
        font-size: 14px;
        padding: 10px 15px;
        margin-top: 10px;
      }
    }
  }
}

.progress-bar {
  min-width: 570px;
  background: url("./assets/img/bg/border-loading.png");

  &__wrap {
    background-image: url("./assets/img/bg/loading_bar_pattern.svg")
  }
}

.my-progress {
  min-height: 60px;
  width: 100%;
}

.level-popup {

  .popup__body {
    background: url("./assets/img/bg/board-level-popup.png") no-repeat;
    background-size: 100% 100%;
  }

  .popup__title {
    background: url("./assets/img/bg/level-popup-title.png") no-repeat;
    background-size: 100% 100%;
    max-width: 430px;
    min-height: 100px;
    width: 100%;
    top: -30px;
    padding: 22px 10px 12px 10px;

    h5 {
      font-weight: 700;
      font-size: 30px;
      line-height: 24px;
      color: $cameo;
    }

    @media (max-width: 992px) {
      width: 400px;
      min-height: 80px;
    }

    @media (max-width: 653px) {
      padding: 10px 10px 12px 10px;
      max-width: 250px;
      min-height: 60px;
      max-height: 52px;
      top: -20px;

      h5 {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 13px;
      }

    }
  }

  .popup__head {
    background: url("./assets/img/bg/popup-level-table.png");
    background-size: 100% 100%;
    max-width: 400px;
    min-height: 170px;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    @media (max-width: 1200px) {
      min-height: 130px;
    }

    @media (max-width: 653px) {
      margin-top: 70px !important;
    }

    img {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 0;
      left: 50%;

      @media (max-width: 653px) {
        width: 200px;
      }
    }

    h1 {
      margin: 0;
    }
  }

  .popup__cols {
    min-width: 140px;

    @media (max-width: 653px) {
      min-width: 140px;
      margin: 0 !important;
    }

    img {
      @media (max-width: 653px) {
        width: 40px !important;
        height: 40px !important;
      }

    }
  }

  .my-progress {
    min-height: 40px;
  }
}

.invited {
  display: inline-block;
  margin-bottom: 10px;
}

.upline {
  background: url("./assets/img/bg/bg-btn-light.png") no-repeat center;
  background-size: 100% 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 15px 15px;
  color: $cameo !important;

  @media (max-width: 653px) {
    height: 44px;
    font-size: 13px;
  }

}